/*mapa*/
/* Estilo predeterminado del mapa */
#map {
  width: 100%; 
  height: 450px; 
}


@media (max-width: 768px) {
  #map {
    height: 300px; 
  }
}


/*Logo responsive*/
/* Estilo base para el logo */
.logo {
  max-width: 100%; 
  height: auto; 
}


@media (max-width: 768px) {
  .logo {
    max-width: 80%; 
  }
}




/* Resets */
hr {
  margin-left: 0;
  max-width: 40px;
}

html, body{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #1f4568;
}

body{
background-image: url("https://image.ibb.co/de6JzG/bitmap_1_1.png");
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
}

.proyecto-imagen {
  width: 90%; 
  height: 100%; 
}

/* boton whatsapp flotante*/
.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  z-index: 1000;
}

.button-icon {
  fill: transparent(100, 205, 138, 1);
  width: 40px;
  height: 40px;
}
/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
  .floating-button {
    bottom: 10px;
    right: 10px;
  }
}
/*Titulo DigiSoft */
/* Estilo para Digi */
.brand-digi {
  color: #66b5e9; /* Cambia este color según tu preferencia */
  font-weight: bold; /* Puedes ajustar el peso de la fuente */
  font-style: oblique;
}

/* Estilo para Soft */
.brand-soft {
  color: #e74c3c; /* Cambia este color según tu preferencia */
  font-style: italic; /* Puedes ajustar el estilo de la fuente */
  /* Otros estilos según tus preferencias */
}

/* Pruba navbar*/
/* Estilo básico para los enlaces de navegación */
.navbar-nav .nav-link {
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff; /* Color del texto */
  transition: background-color 0.3s, color 0.3s;
}

/* Estilo al pasar el ratón por encima del enlace */
.navbar-nav .nav-link:hover {
  background-color: #66b5e9; /* Color de fondo al pasar el ratón */
  color: #fff; /* Cambia el color del texto al pasar el ratón */
}

/* Estilo para el enlace activo */
.navbar-nav .nav-item.active .nav-link {
  background-color: #333; /* Color de fondo para el enlace activo */
}

/* Estilo para el contenedor del menú en dispositivos pequeños */
@media (max-width: 768px) {
  .navbar-collapse {
    background-color: #ffffff; /* Color de fondo del menú desplegable */
  }

  .navbar-nav {
    flex-direction: column; /* Apila los elementos en dispositivos pequeños */
  }

  .navbar-nav .nav-link {
    text-align: center;
    border-bottom: 1px solid #555; /* Línea separadora entre enlaces */
  }
}

.textcenter {
	text-align: center;
}
.section1 {
	text-align: center;
	display: table;
	width: 100%;
}
.section1 .shtext {
	display: block;
	margin-top: 20px;
}
.section1 .seperator {
	border-bottom:1px solid #a2a2a2;
	width: 35px;
	display: inline-block;
	margin: 20px;
}

.section1 h1 {
	font-size: 40px;
	color: #A44DD8;
	font-weight: normal;
}

.section2 {
    width: 1200px;
    margin: 25px auto;
}
.section2 .col2 {
	width: 48.71%;
}
.section2 .col2.first {
	float: left;
}
.section2 .col2.last {
	float: right;
}
.section2 .col2.column2 {
	padding: 0 30px;
}
.section2 span.collig {
	color: #a2a2a2;
	margin-right: 10px;
	display: inline-block;
}
.section2 .sec2addr {
	display: block;
	line-height: 26px;
}
.section2 .sec2addr p:first-child {
	margin-bottom: 10px;
}
.section2 .sec2contactform input[type="text"], 
.section2 .sec2contactform input[type="email"],
.section2 .sec2contactform textarea {
    padding: 18px;
    border: 0;
    background: #EDEDED;
    margin: 7px 0;
}
.section2 .sec2contactform textarea {
	width: 100%;
	display: block;
	color: #666;
  resize:none;
}
.section2 .sec2contactform input[type="submit"] {
	padding: 15px 40px;
    color: #fff;
    border: 0;
    background: #4dc3d8;
    font-size: 16px;
    text-transform: uppercase;
    margin: 7px 0;
    cursor: pointer;
}
.section2 .sec2contactform h3 {
	font-weight: normal;
    margin: 20px 0;
    margin-top: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 19px;
    color: #4dc3d8;
}

/* @media querries */

@media only screen and (max-width: 1266px) {
	.section2 {
		width: 100%;
	}
}
@media only screen and (max-width: 960px) {
	.container {
		padding: 0 30px 70px;
	}
	.section2 .col2 {
		width: 100%;
		display: block;
	}
	.section2 .col2.first {
		margin-bottom: 10px;
	}
	.section2 .col2.column2 {
		padding: 0;
	}
	body .sec2map {
		height: 250px !important;
	}
}
@media only screen and (max-width: 768px) {
	.section2 .sec2addr {
		font-size: 14px;
	}
	.section2 .sec2contactform h3 {
		font-size: 16px;
	}
	.section2 .sec2contactform input[type="text"], .section2 .sec2contactform input[type="email"], .section2 .sec2contactform textarea {
		padding: 10px;
		margin:3px 0;
	}
	.section2 .sec2contactform input[type="submit"] {
		padding: 10px 30px;
		font-size: 14px;
	}
}
@media only screen and (max-width: 420px) {
	.section1 h1 {
		font-size: 28px;
	}	
}
/* Jumbotron (hero) */
.jumbotron {
  position: relative;
  background: url(https://www.pontotel.com.br/wp-content/uploads/2022/10/background-profissional.png) no-repeat bottom center/cover;
}
.jumbotron:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.jumbotron .container {
  padding: 75px 0;
}
.jumbotron h1,
.jumbotron .lead {
  color: #fff;
}

/* Bustom button */
.btn-primary {
  background: #1096fc;
  border: 0;
}
.btn-primary:hover {
  background: #0384e5;
}

/* Features */
.sec-features .row:nth-of-type(n+2) {
  margin-top: 160px;
}
.sec-features .row:last-of-type {
  margin-bottom: 160px;
}
.sec-features .feature-icon {
  max-width: 150px;
}
.sec-about {
  background-color: transparent; /* Color de fondo para la sección */
}

.about-box {
  background-color: transparent; /* Color de fondo para los cuadros */
  box-shadow: 0 0 10px rgba(0, 174, 255, 0.1); /* Sombra suave */
  border: 1px solid #dee2e6; /* Borde alrededor de los cuadros */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  margin-bottom: 20px; /* Espaciado inferior entre cuadros */
  animation: borderAnimation 2s infinite alternate; /* Animación infinita de ida y vuelta */
}

@keyframes borderAnimation {
  0% {
    border: 1px solid #dee2e6; /* Estado inicial */
  }
  50% {
    border: 2px solid #007bff; /* Estado intermedio */
  }
  100% {
    border: 1px solid #dee2e6; /* Estado final, igual al inicial */
  }
}

.about-boxe {
  background-color: transparent; /* Color de fondo para los cuadros */
  box-shadow: 0 0 10px rgba(0, 174, 255, 0.1); /* Sombra suave */
  border: 1px solid #dee2e6; /* Borde alrededor de los cuadros */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  margin-bottom: 20px; /* Espaciado inferior entre cuadros */
}


/* T */
.sec-testimonials {
  padding-top: 128px;
  padding-bottom: 128px;
}

/* Carousel */
.carousel-indicators {
  bottom: -30px;
}
.carousel-indicators li {
  background: rgba(33, 33, 33, 0.1);
}
.carousel-indicators li:focus, .carousel-indicators li:hover {
  background: rgba(33, 33, 33, 0.5);
}
.carousel-indicators .active {
  background: rgba(33, 33, 33, 0.75);
}

.carousel-control-next,
.carousel-control-prev {
  color: #212121;
}
.carousel-control-next:focus, .carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
  color: #111;
}

/*==================== 
	Footer 
====================== */

/* Main Footer */
footer .main-footer{	padding: 20px 0;	background: #252525;}
footer ul{	padding-left: 0;	list-style: none;}

/* Copy Right Footer */
.footer-copyright {	background: #222;	padding: 5px 0;}
.footer-copyright .logo {    display: inherit;}
.footer-copyright nav {    float: right;    margin-top: 5px;}
.footer-copyright nav ul {	list-style: none;	margin: 0;	padding: 0;}
.footer-copyright nav ul li {	border-left: 1px solid #505050;	display: inline-block;	line-height: 12px;	margin: 0;	padding: 0 8px;}
.footer-copyright nav ul li a{	color: #969696;}
.footer-copyright nav ul li:first-child {	border: medium none;	padding-left: 0;}
.footer-copyright p {	color: #969696;	margin: 2px 0 0;}

/* Footer Top */
.footer-top{	background: #252525;	padding-bottom: 30px;	margin-bottom: 30px;	border-bottom: 3px solid #222;}

/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer{	background: transparent;}
footer.transparent .footer-copyright{	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) ;}

/* Footer light */
footer.light .footer-top{	background: #f9f9f9;}
footer.light .main-footer{	background: #f9f9f9;}
footer.light .footer-copyright{	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3) ;}

/* Footer 4 */
.footer- .logo {    display: inline-block;}

/*==================== 
	Widgets 
====================== */
.widget{	padding: 20px;	margin-bottom: 40px;}
.widget.widget-last{	margin-bottom: 0px;}
.widget.no-box{	padding: 0;	background-color: transparent;	margin-bottom: 40px;
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
.widget.subscribe p{	margin-bottom: 18px;}
.widget li a{	color: #ff8d1e;}
.widget li a:hover{	color: #4b92dc;}
.widget-title {margin-bottom: 20px;}
.widget-title span {background: #839FAD none repeat scroll 0 0;display: block; height: 1px;margin-top: 25px;position: relative;width: 20%;}
.widget-title span::after {background: inherit;content: "";height: inherit;    position: absolute;top: -4px;width: 50%;}
.widget-title.text-center span,.widget-title.text-center span::after {margin-left: auto;margin-right:auto;left: 0;right: 0;}
.widget .badge{	float: right;	background: #7f7f7f;}

.typo-light h1, 
.typo-light h2, 
.typo-light h3, 
.typo-light h4, 
.typo-light h5, 
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small{	color: #fff;}

ul.social-footer2 {	margin: 0;padding: 0;	width: auto;}
ul.social-footer2 li {display: inline-block;padding: 0;}
ul.social-footer2 li a:hover {background-color:#ff8d1e;}
ul.social-footer2 li a {display: block;	height:30px;width: 30px;text-align: center;}
.btn{background-color: #ff8d1e; color:#fff;}
.btn:hover, .btn:focus, .btn.active {background: #4b92dc;color: #fff;
-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-webkit-transition: all 250ms ease-in-out 0s;
-moz-transition: all 250ms ease-in-out 0s;
-ms-transition: all 250ms ease-in-out 0s;
-o-transition: all 250ms ease-in-out 0s;
transition: all 250ms ease-in-out 0s;

}